@charset "UTF-8";

* {
   font-femily:  Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BF8A6B,  #8C0303);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0b181b88;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #023373;
    text-align: center;
    text-shadow: 1px 1px 2px #0d303888;
}
h2{
    color: #A69292
}
p {
   text-align: justify;
   color: #3457BF ;

}