@charset "UTF-8";
        body{
            background-color: rgb(41, 134, 46);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: justify;
        }

        h1 {
            color: rgb(231, 25, 221);
            background-color: rgb(172, 214, 19);
        }
        h2 {
            color: darkred;
        }
